* {
    /* margin: 0; */
    padding: 0;
}

h1 {
    font-size: 60px;
    margin: 0;
}
h2{
    font-size: 40px;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header{
    color: #024976;
}

.container {
    /* max-width: 80%; */
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 80%;
}

.top-banner{
    display: flex;
}

.half-width {
    width: 50%;
}

.text-box {
    display: block;
    /* text-align: center; */
    padding-top: 50px;
}

.side-border{
    border-left: 7px solid ;
    border-image: linear-gradient(#024976, darkcyan);
    border-image-slice: 1;
}

.link-button {
    text-decoration: none;
    background-color: darkcyan;
    padding: 10px 40px;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

