* {
    /* margin: 0; */
    padding: 0;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding-left: 30px;
    
}

h2 {
    font-size: 40px;
    
    font-family: 'Manrope', sans-serif;
    
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header {
    color: #024a7698;
}

.container {
    /* max-width: 80%; */
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 80%;
}

.top-banner {
    display: flex;
    flex-direction: row;
}

.half-width {
    width: 50%;
}

.text-box {
    display: block;
    /* text-align: center; */
    padding-top: 50px;
}

.side-border {
    border-left: 7px solid;
    border-image: linear-gradient(#024a7665, darkcyan);
    border-image-slice: 1;
}

.link-button {
    text-decoration: none;
    background-color: darkcyan;
    padding: 10px 40px;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
}

.link-button2 {
    text-decoration: none;
    background-color: darkcyan;
    padding: 10px 20px;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
    line-height: 5.5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.second-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(/images/pictures/pattern.png);
    background-position: bottom ;
    background-repeat:no-repeat;
}

.second-box h2{
    margin-top: 0;
}
.second-box img{
    width: 100%;
}
.second-box .img-box{
    width:40%;
}

.second-box .text-box{
    width: 50%;
}


#bg1 {
    background-color: #d6eee9;
}
#bg2 {
    background-color: #fff4d6;
    
}
#bg3 {
    background-color: #e2e6ff;
}


.flex-container {
    
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 50px 0px;
}
.card{
    width: 20%;
    border-radius: 20px;
    padding: 30px 50px;
}

footer{
    text-align: center;
    padding: 10px 0px 20px;
    background-color: #000;
    color: #fff;
    
}

footer h3{
    font-family: 'Lobster Two', cursive;
    font-size: 39px;
}
